<template>
  <div>
    <div class="searchBar">
      <div class="label">Movie Title</div>
      <input v-model="searchText" />
      <button @click="searchMovie">Search</button>
    </div>
    <div class="flexBox" v-if="movieDetails && movieDetails.length > 0">
      <div
        class="movieCard"
        v-for="(result, index) in movieDetails"
        :key="index"
      >
        <div>Title: {{ result.Title }}</div>
        <div>Year: {{ result.Year }}</div>
        <div>Genre: {{ result.Genre }}</div>
        <div>Director: {{ result.Director }}</div>
        <div>Actors: {{ result.Actors }}</div>
        <div>Plot</div>
        <p>{{ result.Plot }}</p>

        <div>Rating:{{ result.imdbRating }}</div>
      </div>
    </div>
    <div v-else-if="movieDetails !== null && movieDetails.length == 0">
      No Match Found
    </div>
  </div>
</template>

<script>
import Vue from "vue";
export default {
  name: "SearchMovie",
  data() {
    return {
      searchText: "",
      searchResults: [],
      movieDetails: null,
      searchCompleted: false
    };
  },
  watch: {
    searchCompleted(newVal) {
      if (newVal && this.movieDetails) {
        this.movieDetails = this.movieDetails.sort(function(a, b) {
          return b.Year - a.Year;
        });
      }
    }
  },
  methods: {
    async searchMovie() {
      this.searchResults = [];
      this.movieDetails = [];
      const component = this;
      Vue.axios
        .get(`http://www.omdbapi.com/?s=${this.searchText}&apikey=fd3201a8`)
        .then(response => {
          this.searchResults = response.data.Search;
          if (this.searchResults.length > 0) {
            this.searchResults.forEach(element => {
              Vue.axios
                .get(
                  `http://www.omdbapi.com/?i=${element.imdbID}&apikey=fd3201a8`
                )
                .then(response => {
                  component.movieDetails.push(response.data);
                  if (
                    component.movieDetails.length ==
                    component.searchResults.length
                  )
                    this.searchCompleted = true;
                });
            });
          }
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.label {
  width: 10%;
  height: 5%;
  border: 1px solid grey;
  display: inline;
}

.searchBar {
  color: blue;
}

button {
  color: blue;
}
.flexBox {
  display: flex;
  flex-wrap: wrap;
}

.movieCard {
  border: 1px solid black;
  text-align: left;
  width: 20%;
  padding: 10px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .movieCard {
    width: 100%;
  }
}
</style>
